# Copy the contents of this file into a file titled 'secret.env' and update values as needed
# This file will contain sensitive config information that you wouldn't want to share

# Add your bot token after the '=' sign below
BOT_TOKEN=

# The URL to pass into tortoise for use connecting to a database. For more information
# on how to format this and which databased are supported, see here:
# https://tortoise-orm.readthedocs.io/en/latest/databases.html#db-url
DB_URL=
